[run]
branch = true

[report]
omit =
    *site-packages*
    *tests*
    *.tox
    exampleproject/*
    shared_schema_tenants/urls.py
show_missing = True
exclude_lines =
    raise NotImplementedError
